/*
* blue: #343742;
* orange: #f87155;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}






/********** NAVIGATION ***************/

nav {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  font-size: 14px;
}

.nav-left, .nav-right {
  display: flex;
  flex: 1;
}

.nav-left li, .nav-right li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left li {
  background: #343742;
}

.nav-left li {
  border-right: 1px solid #eee;
}

.nav-left a {
  color: #fff;
}

.nav-right li {
  background: #fff;
}

.nav-right li:not(:last-child) {
  border-right: 1px solid #eee;
}

.nav-right a {
  color: #111;
}

.nav-right li:last-child {
  display: flex;
  justify-content: space-evenly;
}

.burger span {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px;
  background: #343742;
}




/********** NAVIGATION ***************/
.content-wrapper {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.content-left, .content-right {
  position: relative;
  flex: 1;
  height: 100vh;
}

.footer {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 100;
}

.footer-left, .footer-right {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.footer-left {
  background: #343742;
}

.footer-right {
  background: #f87155;
}




.content-right {
  background: url("./assets/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.slider {
  z-index: 999;
  position: absolute;
  height: 130px;
  width: 260px;
  bottom: 0;
  left: 0;
  display: flex;
}

.slider-left, .slider-right {
  flex: 1;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}


