/*
* blue: #343742;
* orange: #f87155;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  font-size: 14px;
}

.nav-left, .nav-right {
  display: flex;
  flex: 1;
}

.nav-left li, .nav-right li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left li {
  background: #343742;
}

.nav-left li {
  border-right: 1px solid #eee;
}

.nav-left a {
  color: #fff;
}

.nav-right li {
  background: #fff;
}

.nav-right li:not(:last-child) {
  border-right: 1px solid #eee;
}

.nav-right a {
  color: #111;
}

.nav-right li:last-child {
  display: flex;
  justify-content: space-evenly;
}

.burger span {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px;
  background: #343742;
}