/*
* blue: #343742;
* orange: #f87155;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}






/********** NAVIGATION ***************/

nav {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  font-size: 14px;
}

.nav-left, .nav-right {
  display: flex;
  flex: 1;
}

.nav-left li, .nav-right li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-left li {
  background: #343742;
}

.nav-left li {
  border-right: 1px solid #eee;
}


.nav-left a {
  color: #fff;
}

.brand a {
  font-family: 'Playfair Display', cursive;
  font-size: 1.1em;
  font-weight: 600;
}

.nav-right li {
  background: #fff;
}

.nav-right li:not(:last-child) {
  border-right: 1px solid #eee;
}

.nav-right a {
  color: #111;
}

.nav-right li:last-child {
  display: flex;
  justify-content: space-evenly;
}

.burger span {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px;
  background: #343742;
}




/********** CONTENT ***************/
.content-wrapper {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.content-left, .content-right {
  position: relative;
  flex: 1;
  height: 100vh;
}






.main {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-date {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  height: 100%;
  padding-top: 20%;
}

.date-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f87155;
  width: 125px;
  height: 125px;
}

.date-wrapper span {
  font-size: 2em;
  color: #fff;
}

.main-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  padding: 20% 0 0 10%;
}

.main-title {
  font-size: 5em;
  max-width: 300px;
  margin-top: -20px;
}

.main-text .hr {
  display: block;
  background: #f87155;
  height: 8px;
  width: 150px;
  margin: 5vh 0;
}

.main-desc {
  color: rgb(138, 138, 138);
  max-width: 270px;
  word-spacing: 2px;
  font-weight: 400;
  line-height: 1.5;
}

.main-pagination {
  position: relative;
  margin-top: 5em;
}

.main-pagination span {
  font-family: 'Playfair Display', cursive;
  font-weight: 600;
  color: rgb(138, 138, 138);
}

.main-pagination span:first-child {
  color: #111;
}

.main-pagination::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #111;
  position: absolute;
  bottom: -10px;
}





.footer {
  z-index: 888;
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 100;
}

.footer-left, .footer-right {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.footer-left h3, .footer-right h3 {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 1px;
}

.footer-left {
  background: #343742;
}

.footer-right {
  background: #f87155;
}




.content-right {
  background: url("./assets/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.slider {
  z-index: 888;
  position: absolute;
  height: 130px;
  width: 260px;
  bottom: 0;
  left: 0;
  display: flex;
}

.slider-left, .slider-right {
  flex: 1;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-left {
  border-right: 2px solid #eee;
}

#arrow-right {
  transform: rotate(180deg);
}

